---
import { css } from "styled-system/css";
---

<header
  class={css({
    px: 4,
    py: 3,
    position: "fixed",
    w: "full",
    zIndex: 10,
    h: "50px",
    bg: "secondaryLight",
  })}
>
  <span
    class={css({
      fontSize: "lg",
      display: "flex",
      alignItems: "center",
      fontWeight: "semibold",
      color: "neutral.50",
    })}
  >
    Kitto
  </span>
</header>
