@layer reset, base, tokens, recipes, utilities;

pre {
    border-radius: 0.375rem;
	padding-left: 1.5rem;
    width: 100%;
    overflow: auto;
}

pre code {
    display: block;
    line-height: 1.25;
    width: 100%;
    padding: 0.5rem;
    padding-left: 0.5rem;
	font-size: 12px;
	counter-reset: step;
	counter-increment: step 0;
    white-space: pre-wrap;
}

pre code .line {
	position: relative;
}

pre code .line::before {
    position: absolute;
    overflow: hidden;
    width: 1.75rem;
    height: 1rem;
    left: -2.75rem;
    top: 0;
    text-align: right;
	content: counter(step);
	counter-increment: step;
	color: rgba(115, 138, 148, 0.4);
}
